

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  position: ;
  font-family: 'Monda', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Squada One', cursive;
}


h2 {
  text-align: center;
  font-family: 'Squada One', cursive;

}
h4 {
  text-align: center;
  font-family: 'Squada One', cursive;

}
li {
  float: left;
}
.container {
  text-align: center;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
h3 {
  text-align: center;
  font-family: 'Squada One', cursive;
}
li a:hover {
  background-color: white;
}

body {
  background-image: url(rustbackground.png);
}
