
/* this section of code is used to style the navigation bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  position: ;
  font-family: 'Monda', sans-serif;
}
/* this section of code is used add a font and align to the center of the page all h1 text*/
h1 {
  text-align: center;
  font-family: 'Squada One', cursive;
}

/* this section of code is used add a font and align to the center of the page all h2 text*/
h2 {
  text-align: center;
  font-family: 'Squada One', cursive;

}
/* this section of code is used add a font and align to the center of the page all h4 text*/
h4 {
  text-align: center;
  font-family: 'Squada One', cursive;

}
li {
  float: left;
}
/* this section of code is used to align to the center of the page all things in the .container div*/
.container {
  text-align: center;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
/* this section of code is used add a font and align to the center of the page all h3 text*/
h3 {
  text-align: center;
  font-family: 'Squada One', cursive;
}
li a:hover {
  background-color: red;
}

body {
  background-image: url(rustbackground.png);
}
